* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    background: url(/image/instagram-hex-colors-gradient-background.png)
}

#wrapper {
    width: 450px;
    height: 100%;
    background: rgb(3, 5, 11);
    border-radius: 21px;
    overflow: hidden;
}

.header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.header i {
    font-size: 20px;
}

.info {
    min-height: 50px;
}

.info .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 5px solid #1b9dff;
}

.info img {
    max-width: 100%;
}

.info .name {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.info .name i {
    color: aqua;
    font-size: 20px;
}

.analyst {
    color: #fff;
    width: 80%;
    height: 70px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.analyst li {
    width: calc(100% /3 -5px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.analyst p:first-child {
    font-size: 15px;
}

.actions {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.actions .follow,.actions .contact {
    width: 150px;
    height: 35px;
    margin: 0px 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.actions .contact {
    background: linear-gradient(to right,rgb(0,123,255),rgb(5,245,245));
}

.actions .contact:hover {
    opacity: 0.9;
}

.actions .follow {
    background: linear-gradient(to right, aqua,rgb(200,67,197));
}

.videos {
    width: 100%;
    min-width: 20px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.videos .video {
    width: calc(100% /3);
    height: 100px;
    border: 1px solid #fff;
    overflow: hidden;
}

.videos .video img {
    max-width: 120%;
    transition: all 0.5s;
}

.videos .video:hover img {
    transform: scale(1.3);
}

.footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footer .footer-menu li:hover {
    color:aqua;
}

.info,.analyst,.actions,.videos {
    padding: 10px 20px;
}


/* Contact */
.modal-contact {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: none;
    animation: modalfadein ease 0.3s;
}

.modal-contact.open {
    display: flex;
}

.modal-contact-container {
    width: 420px;
    height: 90%;
    border-radius: 21px;
    position: relative;
    background: linear-gradient(to top, aqua,rgb(200,67,197));
    cursor: context-menu;
}

.modal-contact-header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-contact-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
    font-size: 25px;
}

.modal-contact-close:hover {
    opacity: 1;
}

.modal-contact-body {
    padding: 16px;
    background-color: #fff;
}

.modal-contact-label {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.modal-contact-input {
    font-size: 20px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
}

#send-mes {
    background: linear-gradient(to right, aqua,rgb(200,67,197));
    font-size: 22px;
    border: 1px solid;
    display: flex;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

i.send-icon.fa-solid.fa-paper-plane {
    margin-left: 8px;
}

#send-mes:hover {
    background: #e790cb;
    color: #000;
    cursor: pointer;
}

.linked-info {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto; 
    padding: 2em;
    text-align: center;
    margin-top: 10px;
}

.linked-info .info-icon {
    border-radius: 1em;
    margin: 1em 0;
    align-items: center;
    display: inline-block;
    display: inline-block;
    border: 2px solid #fff;
}

.linked-info .info-icon:first-child {
    margin-right: 10px;
}

.linked-info .info-icon a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0em;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    min-width: 166px;
    padding: 20px;
}

.linked-info .info-icon a:hover {
    opacity: 0.6;
}

.linked-info .info-icon a img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-left: 15px;
}

@keyframes modalfadein {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* Modal Introduce */

.modal-introduce {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: none;
    animation: modalfadein ease 0.3s;
}

.modal-introduce.open {
    display: flex;
}

.modal-introduce-container {
    width: 420px;
    height: 90%;
    border-radius: 21px;
    position: relative;
    background: linear-gradient(to top, aqua,rgb(200,67,197));
    cursor: context-menu;
}

.modal-introduce-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 20px;
    font-size: 30px;
    opacity: 0.8;
}

.modal-introduce-close:hover {
    opacity: 1;
    cursor: pointer;
}

.info-title {
    color: #fff;
    font-size: 27px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.info-body {
    color: #fff;
    padding: 20px 30px;
}

.info-body p {
    padding: 7px;
    font-size: 20px;
}

.info-body p > i {
    width: 30px;
}

.info-contact {
    font-size: 27px;
    margin-top: 30px;
    color: #fff;
    text-align: center;
}

.info-body-mail {
    color: #fff;
}

.info-body-mail p {
    font-size: 20px;
    margin-left: 37px;
    margin-top: 20px;
}

.info-body-mail p > i {
    width: 30px;
}

/* Heart */
.modal-heart {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: none;
    animation: modalfadein ease 0.3s;
}

.modal-heart.open {
    display: flex;
}

.modal-heart-container {
    width: 420px;
    height: 90%;
    border-radius: 21px;
    position: relative;
    background: linear-gradient(to top, aqua,rgb(200,67,197));
    cursor: context-menu;
}

.heart {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,50%);
}

.heart:hover {
    cursor: url(/image/sym49.cur), auto;
}

.heart i {
    color: rgb(238, 49, 81);
    font-size: 100px;
    text-shadow: 0 0 10px red,0 0 50px red;
    animation: heartbeat 0.8s infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1.1);
    }
    30% {
        transform: scale(1.5);
    }
    60% {
        transform: scale(2);
    }
}